footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;

  background-color: #4050b5;

  div {
    display: flex;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;

    color: var(--shades-white, #fff);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}
