@use "../../../../custom-theme-colors" as theme;

.group-details-dialog {
  max-width: 1024px;
  caret-color: transparent;
  display: flex;
  flex-direction: column;

  .group-details {
    .group-title {
      margin: 8px 0;
      align-self: stretch;
      flex-shrink: 0;
      color: theme.$grouphq-ui-groups;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    flex-grow: 1;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;

    .group-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .group-description {
        height: fit-content;
        align-self: stretch;
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .group-extra-info {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 32px;
        margin: 32px 64px;

        .group-detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 32px;

          .detail-title {
            color: theme.$grouphq-ui-groups;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }

          p {
            margin: 0;
          }
        }
      }
    }

    .member-list-subheader {
      padding: calc((3rem - 1.5rem) / 2) 16px;
      margin: 0;
      color: var(--black-06, rgb(0 0 0 / 60%));
      font-style: normal;
      line-height: 24px;
      letter-spacing: 0.5px;
    }

    .member-list-subheader,
    .member-list-item {
      border-top: 1px solid rgb(0 0 0 / 25%);
    }
  }

  .group-actions {
    margin-top: auto;
    display: flex;
    flex-flow: row;
    gap: 16px;

    .dialog-actions {
      flex: 1;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0 16px;
      border-radius: 44px;
      max-width: 50%;
      min-width: fit-content;
      height: 44px;
      color: var(--shades-white, #fff);
      text-align: center;

      /* v-text/button */
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 257.143% */
      letter-spacing: 1.25px;
      text-transform: uppercase;
    }

    &.group-actions-handset {
      // Reverse the order so that the primary action is on top
      flex-direction: column-reverse;
      align-items: stretch;

      button {
        height: 52px;
        max-width: 100%;
      }
    }
  }

  &.group-details-dialog-handset {
    height: 100vh;
    border-radius: 0;

    .group-details {
      max-height: inherit;
    }
  }
}
