<div
  appMedia
  app-media-base-class="group-details-dialog"
  data-test="group-details-dialog"
>
  <mat-dialog-content class="group-details">
    <p class="group-title" data-test="group-title">
      {{ group.title }}
    </p>
    <div class="group-info" data-test="group-info">
      <p class="group-description" data-test="group-description">
        {{ group.description }}
      </p>
      <div class="group-extra-info" data-test="group-extra-info">
        <div class="group-detail" data-test="group-creation-time">
          <p class="detail-title" data-test="detail-title">Created</p>
          <p data-test="detail-content">{{ timeSince(group.createdDate) }}</p>
        </div>
        <div class="group-detail" data-test="group-last-activity">
          <p class="detail-title" data-test="detail-title">Last Activity</p>
          <p data-test="detail-content">
            {{ timeSince(group.lastModifiedDate) }}
          </p>
        </div>
        <div class="group-detail" data-test="group-members-count">
          <p class="detail-title" data-test="detail-title">Members</p>
          <p data-test="detail-content">
            {{ group.members ? group.members.length : 0 }} /
            {{ group.maxGroupSize }}
          </p>
        </div>
      </div>
    </div>
    <mat-list class="group-member-list" data-test="group-member-list">
      <h3
        matSubheader
        class="member-list-subheader"
        data-test="member-list-subheader"
      >
        Members
      </h3>
      @for (member of group.members; track member) {
      <mat-list-item class="member-list-item" data-test="group-member">
        <mat-icon
          matListItemIcon
          aria-hidden="false"
          aria-label="Default profile icon"
          fontSet="material-symbols-outlined"
          data-test="group-member-profile-icon"
          >account_circle</mat-icon
        >
        <h4 matListItemTitle data-test="member-name">{{ member.username }}</h4>
        <p matListItemLine data-test="member-joined-date">
          Joined {{ timeSince(member.joinedDate) }}
        </p>
      </mat-list-item>
      } @empty {
      <mat-list-item class="member-list-item" data-test="no-members-message">
        <h4 matListItemTitle>No members yet</h4>
      </mat-list-item>
      }
    </mat-list>
  </mat-dialog-content>
  @if (errorLeavingGroup) {
  <div data-test="server-unavailable-error">
    Error joining group. Please try again
  </div>
  }
  <mat-dialog-actions
    appMedia
    app-media-base-class="group-actions"
    data-test="group-actions"
  >
    <button
      class="dialog-actions"
      mat-raised-button
      color="accent"
      mat-dialog-close
      data-test="close-group-details-dialog-button"
    >
      Close
    </button>
    @if (!userService.currentGroupId) { @if (loading) {
    <div class="dialog-actions">
      <mat-progress-bar mode="buffer" data-test="loading__progress-bar">
      </mat-progress-bar>
    </div>
    } @else {
    <button
      class="dialog-actions"
      mat-raised-button
      color="primary"
      [disabled]="group.members.length >= group.maxGroupSize || loading"
      (click)="openInputNameDialog()"
      data-test="group-details-action-dialog-button"
    >
      {{
        group.members.length >= group.maxGroupSize
          ? "Group is full"
          : "Join Group"
      }}
    </button>
    } } @else { @if (loading) {
    <div class="dialog-actions">
      <mat-progress-bar
        mode="buffer"
        data-test="loading-progress-bar"
        color="warn"
      ></mat-progress-bar>
    </div>
    } @else {
    <button
      class="dialog-actions"
      mat-raised-button
      [color]="userService.currentGroupId === group.id ? 'warn' : 'primary'"
      [disabled]="userService.currentGroupId !== group.id || loading"
      (click)="leaveGroup()"
      data-test="group-details-action-dialog-button"
    >
      {{
        userService.currentGroupId !== group.id
          ? "You're already in another group"
          : "Leave Group"
      }}
    </button>
    } }
  </mat-dialog-actions>
</div>
