@use "../../../../node_modules/@angular/material/index" as mat;

.utility-bar {
  caret-color: transparent;
  background-color: #0d3168;
  height: fit-content;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 8px 16px;

  .sort-selector-label {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  mat-form-field {
    width: 240px;
    font-size: 20px;
    border-radius: 4px;
    background-color: white;
    letter-spacing: 0.0312rem;
  }
}

:host ::ng-deep .utility-bar {
  @include mat.form-field-density(-4);
}

.utility-bar-web {
  padding: 16px 160px;
  gap: 8px 32px;

  .sort-selector-label {
    font-size: 24px;
  }
}

.utility-bar-tablet {
  padding: 16px 32px;
}
