@use "../../../custom-theme-colors" as theme;

.group-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #108db5;
}

.group-board-container {
  position: relative;
  flex: 1;
}

.group-board-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(50%) saturate(0%);
  background: url("../../../assets/Crazy Nodes.png") repeat fixed top;
}
