<mat-card
  matRipple
  class="group-card"
  [ngClass]="{
    'group-card--full': group.members.length >= group.maxGroupSize
  }"
  (click)="openDialog()"
  data-test="group-card"
>
  <div class="title-container">
    <p class="title" data-test="title">{{ group.title }}</p>
    @if (userService.currentGroupId === group.id) {
    <mat-icon
      aria-hidden="false"
      aria-label="Your group icon"
      fontSet="material-symbols-outlined"
      data-test="your-group-icon"
      >person_check</mat-icon
    >
    }
  </div>

  <div class="member-count-container">
    <p class="member-count" data-test="member-count">
      {{ group.members.length }} / {{ group.maxGroupSize }} members
    </p>
  </div>

  <div class="description-container">
    <p class="description" data-test="description">{{ group.description }}</p>
  </div>
</mat-card>
