<div class="group-input-name-dialog">
  <p appMedia app-media-base-class="group-title" mat-dialog-title>
    What's your name?
  </p>
  <div class="quote-block">
    <p class="quote">"Words have meaning, and names have power."</p>
    <p class="author">- Anonymous</p>
  </div>

  <mat-form-field class="input-name-field">
    <mat-label>Enter a name</mat-label>
    <input
      name="name"
      [formControl]="nameField"
      required
      matInput
      placeholder="Ex. Brooks Foley"
      data-cy="member-name-input"
    />
    <mat-error *ngIf="nameField.hasError('required')" data-cy="name-input-error"
      >Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div appMedia app-media-base-class="group-actions">
    <button
      mat-raised-button
      color="accent"
      mat-dialog-close
      tabindex="-1"
      (click)="onNoClick()"
      data-cy="close-dialog-button"
    >
      Close
    </button>
    <button
      type="submit"
      [disabled]="nameField.invalid"
      mat-raised-button
      color="primary"
      tabindex="-1"
      (click)="joinGroup()"
      data-cy="join-group-button"
    >
      Join
    </button>
  </div>
</div>
