@use "../../../custom-theme-colors" as theme;

.nav-row {
  margin: 16px;
  padding: 0;
  width: auto;
  height: fit-content;

  .site-name {
    caret-color: transparent;
    display: flex;
    align-items: center;

    // default title style
    #logo-link {
      text-decoration: none;
      color: theme.$grouphq-ui-none;
    }

    &.groups {
      #logo-link {
        color: theme.$grouphq-ui-groups;
      }
    }

    &.about {
      #logo-link {
        color: theme.$grouphq-ui-about;
      }
    }

    &.sources {
      #logo-link {
        color: theme.$grouphq-ui-sources;
      }
    }
  }

  .button-tabs {
    width: 518px;
    display: flex;
    flex-flow: row wrap;

    .tab {
      text-decoration: none;
      flex-grow: 1;
      flex-basis: 0;
      font-size: 14px;
      font-weight: 500;
      height: 44px;

      &#about-tab.active {
        background-color: theme.$grouphq-ui-about;
      }

      &#sources-tab.active {
        background-color: theme.$grouphq-ui-sources;
      }
    }
  }
}

.nav-row-tablet,
.nav-row-handset {
  background-color: theme.$grouphq-ui-none;

  &.groups {
    background-color: theme.$grouphq-ui-groups;
  }

  &.about {
    background-color: theme.$grouphq-ui-about;
  }

  &.sources {
    background-color: theme.$grouphq-ui-sources;
  }

  font-size: 20px;
  margin: 0;
  padding: 4px;
  flex-flow: row nowrap;
  justify-content: start;

  .site-name {
    #logo-link-tablet-mobile {
      color: white;
      text-decoration: none;
    }

    color: var(--shades-white, #fff);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
    letter-spacing: 0.25px;
  }

  gap: 16px;
}

.dropdown-tab-list {
  padding: 0 8px;
  overflow: hidden;
  height: fit-content;

  .button-tabs-list {
    display: flex;
    flex-flow: column nowrap;
    place-items: center center;
    padding: 8px 0;

    .tab {
      text-decoration: none;
      display: flex;
      align-content: center;
      border-radius: 56px;
      padding: 16px;
      font-size: 16px;
      font-weight: 500;
      min-height: 56px;
      letter-spacing: 0.5px;

      &#dropdown-groups-tab.active {
        background-color: rgba(theme.$grouphq-ui-groups, 0.12);
      }

      &#dropdown-about-tab.active {
        background-color: rgba(theme.$grouphq-ui-about, 0.12);
      }

      &#dropdown-sources-tab.active {
        background-color: rgba(theme.$grouphq-ui-sources, 0.12);
      }
    }
  }
}

.nav-row-tablet {
  padding: 16px;
}

.nav-row-web {
  background-color: white;
  margin: 32px 160px;
  flex-flow: row wrap;
  justify-content: space-between;

  .site-name {
    font-size: 36px;
    font-weight: 700;
  }

  gap: 32px;
}

.menu-icon {
  color: white;
}
