<nav>
  @switch (navType) { @case ('web') {
  <mat-toolbar
    id="nav-default"
    data-test="nav-default"
    class="nav-row nav-row-web"
  >
    <div class="site-name" [ngClass]="getPageToLowercase()">
      <a id="logo-link" routerLink="/" href="/" data-test="site-title-default"
        >GroupHQ Demo</a
      >
    </div>
    <div class="button-tabs">
      <a
        id="groups-tab"
        data-test="groups-tab-default"
        class="tab"
        mat-flat-button
        [color]="page === 'GROUPS' ? 'primary' : undefined"
        routerLink="/"
        href="/"
        >GROUPS</a
      >
      <a
        id="about-tab"
        data-test="about-tab-default"
        class="tab"
        [class.active]="page === 'ABOUT'"
        mat-flat-button
        [color]="page === 'ABOUT' ? 'primary' : undefined"
        routerLink="/about"
        href="/about"
        >ABOUT</a
      >
      <a
        id="sources-tab"
        data-test="sources-tab-default"
        class="tab"
        [class.active]="page === 'SOURCES'"
        mat-flat-button
        [color]="page === 'SOURCES' ? 'primary' : undefined"
        routerLink="/sources"
        href="/sources"
        >SOURCES</a
      >
    </div>
  </mat-toolbar>
  } @case ('tablet | handset') {
  <mat-toolbar
    id="nav-compact"
    data-test="nav-compact"
    appMedia
    app-media-base-class="nav-row"
    [ngClass]="getPageToLowercase()"
  >
    <button mat-icon-button aria-label="Toggle menu" (click)="toggleMenu()">
      <mat-icon
        fontSet="material-symbols-outlined"
        class="menu-icon"
        data-test="menu-icon"
        >menu</mat-icon
      >
    </button>
    <div class="site-name">
      <a
        id="logo-link-tablet-mobile"
        routerLink="/"
        href="/"
        data-test="site-title-compact"
        (click)="select('GROUPS')"
        >GroupHQ Demo</a
      >
    </div>
  </mat-toolbar>
  @if (showMenu) {
  <mat-action-list
    class="dropdown-tab-list"
    data-test="dropdown-tab-list"
    [@extensionAnimation]="'visible'"
  >
    <div class="button-tabs-list">
      <a
        id="dropdown-groups-tab"
        data-test="groups-tab-compact"
        class="tab"
        mat-list-item
        [class.active]="page === 'GROUPS'"
        routerLink="/"
        href="/"
        >Groups</a
      >
      <a
        id="dropdown-about-tab"
        data-test="about-tab-compact"
        class="tab"
        mat-list-item
        [class.active]="page === 'ABOUT'"
        routerLink="/about"
        href="/about"
        >About</a
      >
      <a
        id="dropdown-sources-tab"
        data-test="sources-tab-compact"
        class="tab"
        mat-list-item
        [class.active]="page === 'SOURCES'"
        routerLink="/sources"
        href="/sources"
        >Sources</a
      >
    </div>
  </mat-action-list>
  } } }
</nav>
