<div class="sources-page-container" data-cy="sources-container">
  <div class="sources-page-title-container">
    <p appMedia app-media-base-class="sources-page-title">Sources</p>
  </div>
  <div appMedia app-media-base-class="sources-page-content-container">
    <div>
      <h1>Acknowledgements</h1>
      <p>
        I’d like to take this space to acknowledge some great authors out there,
        whom without I would have been unable to come this far in a short time:
      </p>
      <ul>
        <li>
          Laurentiu Spilca, author of
          <a
            href="https://www.manning.com/books/spring-start-here?ar=true&lpse=A"
            >Spring Start Here</a
          >
          &
          <a href="https://www.manning.com/books/spring-security-in-action"
            >Spring Security in Action</a
          >
        </li>
        <li>
          Cătălin Tudose, author of
          <a href="https://www.manning.com/books/junit-in-action-third-edition"
            >JUnit in Action</a
          >
        </li>
        <li>
          Neil Madden, author of
          <a href="https://www.manning.com/books/api-security-in-action"
            >API Security in Action</a
          >
        </li>
        <li>
          Thomas Vitale, author of
          <a href="https://www.manning.com/books/cloud-native-spring-in-action"
            >Cloud Native Spring in Action</a
          >
        </li>
        <li>
          Adam Freeman, author of
          <a
            href="https://www.manning.com/books/essential-typescript-5-third-edition"
            >Essential TypeScript 5</a
          >
          &
          <a
            href="https://www.amazon.com/Pro-Angular-Build-Powerful-Dynamic/dp/1484281756"
            >Pro Angular</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h1>Frontend Sources</h1>
      <ul>
        <li>Figma Design Files (Mock-ups & Prototyping)</li>
        <li>GroupHQ Frontend Code</li>
      </ul>
    </div>
    <div>
      <h1>Backend Sources</h1>
      <ul>
        <li>Group Service</li>
        <li>Group Synchronization Service</li>
        <li>Edge Service (i.e. API Gateway)</li>
        <li>Deployment Service</li>
      </ul>
    </div>
  </div>
</div>
