<div class="sources-page-container" data-test="sources-container">
  <div class="sources-page-title-container">
    <p appMedia app-media-base-class="sources-page-title">Sources</p>
  </div>
  <div appMedia app-media-base-class="sources-page-content-container">
    <div>
      <h1>Acknowledgements</h1>
      <p>Check out these awesome authors and their books!</p>
      <ul>
        <li>
          Laurentiu Spilca, author of
          <a
            href="https://www.manning.com/books/spring-start-here?ar=true&lpse=A"
            target="_blank"
            >Spring Start Here</a
          >
          &
          <a
            href="https://www.manning.com/books/spring-security-in-action"
            target="_blank"
            >Spring Security in Action</a
          >
        </li>
        <li>
          Cătălin Tudose, author of
          <a
            href="https://www.manning.com/books/junit-in-action-third-edition"
            target="_blank"
            >JUnit in Action</a
          >
        </li>
        <li>
          Neil Madden, author of
          <a
            href="https://www.manning.com/books/api-security-in-action"
            target="_blank"
            >API Security in Action</a
          >
        </li>
        <li>
          Thomas Vitale, author of
          <a
            href="https://www.manning.com/books/cloud-native-spring-in-action"
            target="_blank"
            >Cloud Native Spring in Action</a
          >
        </li>
        <li>
          Adam Freeman, author of
          <a
            href="https://www.manning.com/books/essential-typescript-5-third-edition"
            target="_blank"
            >Essential TypeScript 5</a
          >
          &
          <a
            href="https://www.amazon.com/Pro-Angular-Build-Powerful-Dynamic/dp/1484281756"
            target="_blank"
            >Pro Angular</a
          >
        </li>
        <li>
          David A. Black and Joseph Leo III, authors of
          <a
            href="https://www.manning.com/books/the-well-grounded-rubyist-third-edition"
            target="_blank"
            >The Well-Grounded Rubyist</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h1>Frontend Sources</h1>
      <ul>
        <li>
          <a
            href="https://www.figma.com/file/1aiblQciNmPSUcQD27GtHt/GroupHQ-Demo?type=design&node-id=0%3A1&mode=design&t=RvuApHhMdKFzUKfm-1"
            target="_blank"
          >
            Figma Design Files (Mock-ups & Prototyping)</a
          >
        </li>
        <li>
          <a href="https://github.com/GroupHQ/groupHQ-ui" target="_blank"
            >GroupHQ User Interface (frontend)</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h1>Backend Sources</h1>
      <ul>
        <li>
          <a href="https://github.com/GroupHQ/group-service" target="_blank"
            >Group Service</a
          >
        </li>
        <li>
          <a href="https://github.com/GroupHQ/group-sync" target="_blank"
            >Group Sync</a
          >
        </li>
        <li>
          <a href="https://github.com/GroupHQ/edge-service" target="_blank"
            >Edge Service (i.e. API Gateway)</a
          >
        </li>
        <li>
          <a
            href="https://github.com/GroupHQ/groupHQ-deployment"
            target="_blank"
            >GroupHQ Deployment Manifests Repository</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h1>Continuous Testing Sources</h1>
      <ul>
        <li>
          <a
            href="https://github.com/GroupHQ/grouphq-continuous-testing-proxy-server"
            target="_blank"
            >Continuous Testing Proxy Server</a
          >
        </li>
        <li>
          <a
            href="https://github.com/GroupHQ/grouphq-continuous-testing-test-suite"
            target="_blank"
            >Continuous Testing Test Suite (hosts user-automated acceptance
            tests)</a
          >
        </li>
        <li>
          <a href="https://e5c7-70-107-109-25.ngrok-free.app/" target="_blank"
            >BuildWise (Continuous Testing Server)</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
