<div appMedia app-media-base-class="utilityBar">
  <mat-label class="sort-selector-label">Sort By</mat-label>
  <mat-form-field appearance="outline" class="sort-selector" subscriptSizing="dynamic">
    <mat-select [(value)]="selected" panelClass="example-panel-red">
      <mat-option value="Oldest">Oldest</mat-option>
      <mat-option value="Newest">Newest</mat-option>
      <mat-option value="Most members">Most members</mat-option>
      <mat-option value="Least members">Least members</mat-option>
    </mat-select>
  </mat-form-field>
</div>