.group-board {
  position: relative;
  display: grid;
  padding: 16px 0;
  margin: 0 16px;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  place-content: start center;
  gap: 16px;
}

.group-board-tablet {
  padding: 32px 0;
  margin: 0 32px;
  gap: 16px 32px;
}

.group-board-web {
  filter: none;
  padding: 32px 0;
  margin: 0 160px;
  gap: 32px;
}
