/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: 0.1rem;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.component-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1,
p {
  color: black;
}

/* Defined here because a dialog's panelClass is a lower-level component
 * An alternative solution could be to use the deprecated ::ng-deep selector
 * on the component's style file.
*/
.full-screen-modal {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
